<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>

    <title>Our Mission</title>
  </head>
  <body>
    <%- include('../partials/logo'); %>

    <div class="about-card bg-dark text-white">
      <img
        class="card-img"
        src="/images/background.jpg"
        alt="Photo of our team"
      />
      <div class="card-img-overlay">
        <h1 class="card-title">Our Mission</h1>
        <h4 class="card-text">Fun and awareness together, why not?</h4>
      </div>
    </div>

    <p class="text-center" id="about">
      We are a group of students from Notre Dame de Sion French High School in
      Istanbul, Turkey. Our country has a diverse range of animal and plant
      species. Therefore, we wanted to create a website where we can draw people
      of all ages’ attention to the preservation of biodiversity. During the
      development process of our project, the question that we have raised was
      “What can we do to raise awareness for the extinction of the species in
      Turkey?”. Our website will be formed of 5 parts : In the first part, we
      will be able to take a test to find out which animal in danger of
      extinction we are. This will be a fun activity and will mostly draw kids’
      attention. In the second part, there will be a “Latest News about
      environment“ page. Thanks to this part we will be able to keep up with the
      world. In the third part, we will have a page full of reports and theses
      about biodiversity. This will be an academic page if you want to get more
      information about biodiversity and extinction. For the fourth part, we
      will be able to learn how to help species in danger. We will be directed
      to websites where we can donate and volunteer to help them. In the last
      part, we have planned to have a compact identification system with the
      help of exterior premade databases. We will be able to find the
      characteristics of our photographed plant immediately. It’s time to
      remember that we are not the only creatures in the world and take action.
    </p>
    <br />
    <p class="text-center" id="motto">“If not we, who? If not now, when? “</p>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
