<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <img src="/images/logo.png" alt="Logo" id="logo" />
    <header><%- include('../partials/header'); %></header>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
